body {
  font-family: sans-serif;
  margin: 30px;
  line-height: 1.5;
}
img {
  width: 350px;

}
.card {
  background-color: azure;
  padding: 10px;
  width: 400px;
}
.container  {
  width: 90%;
}
.hidden {
  display: none;
}